.example-element-diagram {
    min-width: 90px;
    border: 7px solid rgba(var(--fuse-primary-500-rgb), var(--tw-text-opacity)) !important;
    padding: 7px;
    margin: 7px 2px;
    height: 280px;
    border-radius: 35px;
}

.example-element-diagram-persons {
    min-width: auto;
    border: 7px solid rgba(var(--fuse-primary-500-rgb), var(--tw-text-opacity)) !important;
    padding: 7px;
    margin: 7px 2px;
    height: auto;
    border-radius: 35px;
}

.titre-entreprise {
    //font-size: smaller;
    font-weight: 800;
    color: #3533b1;
    text-align: center;
    padding: 10px;
}

.titre-address-entreprise {
    color: #3533b1;
    font-weight: 800;
    padding: 10px;
}

.example-element-title {
    color: black;
    font-weight: bold;
}

.example-element-position .myButton {
    margin: 2px;
    float: right;
    top: -70px;
    margin-right: 25px;
}

.myButton {
    width: 9em;
}

.myButtonBack {
    width: 6em;
    margin-top: 1px;
    margin-right: 2px;
    position: absolute;
    top: 85px;
    right: 40px;
    background-color: #e55454;
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.btnAddPerson {
    margin-top: 0px;
    margin-right: 0px;
    position: absolute;
    top: 90px;
    right: 40px;
    border: 2px solid hsl(217, 76%, 67%);
}

.myBtnAction {
    border: 2px solid hsl(217, 76%, 67%);
}

tr.address-detail-row {
    height: 0;
}

tr.address-element-row:not(.address-expanded-row):hover {
    background: whitesmoke;
}

tr.address-element-row:not(.address-expanded-row):active {
    background: #efefef;
}

.address-element-row td {
    border-bottom-width: 0;
}

.address-element-detail {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c5e0ef;
    box-shadow: inset 2px 3px 8px #c1c1c1;
    border-radius: 8px;
    color: #111827;
    font-weight: 600;
}

.address-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
}

.address-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
}

.address-element-description {
    padding: 16px;
}

.address-element-description-attribution {
    opacity: 0.5;
}

.mylink {
    font-weight: bold;
    border: 2px solid hsl(217, 87%, 55%);
    margin: 1px;
    background-color: #cdcdf3;
}